@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

#dogContent_Form {
	background-color: #ffd1dc;
	width: 1200px;
	margin: 150px auto 50px auto;
	text-align: center;
	padding-bottom: 50px;
}

#mainContent {
	width: 700px;
	margin: 0 auto;
	background-color: #E2E2E2;
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
}

#mainContent th {
	width: 200px;
	height: 50px;
}

#mainContent td {
	width: 300px;
	height: 50px;
	line-height: 50px;
	padding: 0 10px;
}

.dogfoot {
	width: 50px;
	height: 30px;
	margin-top: 10px;
	margin-left: 10px;
}

td span, td img {
	display: block;
	float: left;
	margin-left: 70px;
}

td {
	overflow: hidden;
}

.dogimage {
	margin: 0px auto;
	margin-top: 50px;
	width: 700px;
	height: 300px;
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
}

.dogimage img {
	width: 700px;
	height: 300px;
}

#profile {
	font-weight: bold;
	font-size: 2em;
	margin-top: 50px;
}

#profile_eng {
	font-weight: bold;
	font-size: 2.5em;
	text-shadow: -1px 0 #000;
}

#CuteDog {
	font-size: 4em;
	font-weight: bold;
	margin: 20px;
	color: lightgray;
	text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

button {
	background-color: #ffd1dc;
	border: none;
	margin: 10px;
	font-size: 1.3em;
	font-weight: bold;
	color: gray;
	text-shadow: -1px 0 #000;
	cursor: pointer;
}

#dogContent_Form #bar {
	width: 700px;
	margin: 0 auto;
	border: 1px solid black;
	background-color: #ffd1dc;
}

#dogContent_Form #bar td {
	border: 1px solid black;
}

#dcontent {
	width: 900px;
	margin: 50px auto;
	text-align: center;
	font-weight: bold;
	font-size: 2.5em;
	text-shadow: -1px 0 #fff, -1px 0 #fff;
}

/*********************************/
.reply {
	width: 1200px;
	margin: 0 auto;
}

.reply form {
	width: 1000px;
	margin: 0 auto;
	/*height */
}

.reply form table {
	width: 1000px;
	text-align: center;
	margin-bottom: 20px;
}

.reply form table caption {
	font-size: 2em;
	font-weight: bold;
	margin: 20px;
}

.reply form table input[type="text"] {
	width: 700px;
	font-size: 2em;
}

.reply form table input[type="submit"] {
	width: 200px;
	font-size: 1.7em;
	background-color: #ffd1dc;
	border: none;
	font-weight: bold;
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
}

.reply_content {
	width: 1200px;
	margin-bottom: 10px;
}

.reply_content tr {
	height: 70px;
	font-weight: bold;
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
}

.reply_content td {
	
}

.reply_content td:nth-child(1) {
	width: 100px;
	text-align: center;
}

.reply_content td:nth-child(2) {
	width: 180px;
	text-align: center;
}

.reply_content td:nth-child(3) {
	width: 500px;
	text-indent: 20px;
}

.reply_content td:nth-child(4) {
	width: 200px;
	text-align: center;
}

.reply_content td:nth-child(5) {
	width: 200px;
	text-align: center;
}

.reply_content td:nth-child(5) .rbtn {
	margin: 3px;
	width: 80px;
	text-align: center;
	color: black;
}