@charset "UTF-8";

       * {
            margin: 0;
            padding: 0;
        }
        #join_form {
            width: 1000px;
            height: 800px;
            margin:150px auto;
            box-shadow: 0 8px 20px 0 rgba(0,0,0,0.15);
        }
        #join_form form{
            height:800px;
           
        }
        #join_form form table {
             width:500px;
            margin: 150px auto;
            text-align:center;

        }
        #join_form form table th{

        }
        #join_form form table td:not(.#pwChkResult){
            padding:10px;
            

        }
        #join_form form table td input:not(.btn) {
            width:200px;
            height:50px;
            border: 1px solid white;
            border-bottom:1px solid black;
            outline:none;
            margin:5px;          
            display: black;
        }
   
        caption {
            font-size:1.3em;
            font-weight:bold;
            margin:10px;
        }
        .bigCap {
            font-size: 2em;
            margin-bottom: 20px;
        }
        .btn {
            margin: 5px;
            background-color: #ffd1dc;
            color: black;
            font-weight: bold;
            border: none;
            cursor: pointer;
        }
        input[type="submit"], input[type="reset"], input[type="button"] {
            width: 80px;
            height:30px;
            margin: 10px;
            background-color: #ffd1dc;
            color: black;
            font-weight: bold;
            border: none;
            cursor:pointer;
        }
        input:not(.btn) {
            cursor: pointer;
            display: black;
        }