@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

#List {
	width: 1560px;
	margin: 150px auto;
}
#List caption {
	font-size: 3em;
	background-color: #ffd1dc;
	height:100px;
	line-height:100px;
	box-sizing: border-box;
	text-shadow: +5px 0 white;
	font-weight:bold;
}
#List td {
	border: 5px solid #ffd1dc;
}




.mainimage {
	width: 350px;
	height: 200px;
	margin: 0 20px;
}

.name {
	text-align: center;
	width: 200px;
	margin: 10px auto;
	font-weight: bold;
}

.breed {
	text-align: center;
	width: 200px;
	margin: 10px auto 20px auto;
	font-weight: bold;
}
.button {
	
}

.paging {
	text-align: center;
}

#empty {
	text-align: center;
}
#insertDog {
	text-align: center;
}