@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

#List {
	width: 1560px;
	margin: 150px auto;
}

.mainimage {
	width: 350px;
	height: 200px;
	margin: 0 20px;
}

.name {
	text-align: center;
	width: 200px;
	margin: 10px auto;
	font-weight: bold;
}

.breed {
	text-align: center;
	width: 200px;
	margin: 10px auto 20px auto;
	font-weight: bold;
}

.paging {
	text-align: center;
}

#empty {
	text-align: center;
}
#insertDog {
	text-align: center;
}